<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>AT Blog</title>
  <meta charset="utf-8">

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="/css/styles.css">

  <nav class="navbar navbar-expand-md navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/images/anchortaglogoyellow.png" alt="anchor-tag logo" width="45" height="24" class="d-inline-block align-text-top">
        ANCHOR TAG
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item" id="home">
            <a class="nav-link active" href="/">HOME</a>
          </li>
          <li class="nav-item" id="about">
            <a class="nav-link active" href="about">ABOUT US</a>
          </li>
          <li class="nav-item" id="contact">
            <a class="nav-link active" href="/contact">CONTACT</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>

  <body>
    <div class="container">
